<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

        {% for pais in paises %}
            <h1> {{pais.id}},{{pais.descripcion}},{{pais.abrev}},{{pais.activo}} </h1>
        {% endfor %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
